In [78]:
# Load libraries
from pandas import read_csv
import sklearn
from pandas.plotting import scatter_matrix
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import LeaveOneOut
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pandas as pd
import math
import tensorflow as tf
import sys
from sklearn.metrics import plot_confusion_matrix
import matplotlib.pyplot as plt

In [2]:
df = pd.read_pickle("./finalDF.pkl")

In [3]:
df

,year,price,distance,Origin_ATL,Origin_BOS,Origin_CLT,Origin_DEN,Origin_DFW,Origin_DTW,Origin_EWR,...,Month_Feb,Month_Jan,Month_Jul,Month_Jun,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,Month_nan
0,2020,91.16,946,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2020,118.67,946,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2020,199.67,946,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020,104.16,946,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020,113.38,946,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10654,2021,387.73,1788,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10655,2021,421.8,1788,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10656,2021,257.23,1788,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10657,2021,159.52,1788,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10658,2021,159.16,1788,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.dtypes

year          object
price         object
distance      object
Origin_ATL     uint8
Origin_BOS     uint8
               ...
Month_May      uint8
Month_Nov      uint8
Month_Oct      uint8
Month_Sep      uint8
Month_nan      uint8
Length: 66, dtype: object

In [5]:
y = df['price'].astype('float64')
y.round(1)

0         91.2
1        118.7
2        199.7
3        104.2
4        113.4
         ...
10654    387.7
10655    421.8
10656    257.2
10657    159.5
10658    159.2
Name: price, Length: 10143, dtype: float64

In [6]:
X = df.drop(columns=['price'])
X

,year,distance,Origin_ATL,Origin_BOS,Origin_CLT,Origin_DEN,Origin_DFW,Origin_DTW,Origin_EWR,Origin_FLL,...,Month_Feb,Month_Jan,Month_Jul,Month_Jun,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,Month_nan
0,2020,946,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2020,946,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2020,946,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020,946,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020,946,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10654,2021,1788,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10655,2021,1788,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10656,2021,1788,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10657,2021,1788,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10658,2021,1788,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
X = X.astype("float64")

In [8]:
X.dtypes

year          float64
distance      float64
Origin_ATL    float64
Origin_BOS    float64
Origin_CLT    float64
               ...
Month_May     float64
Month_Nov     float64
Month_Oct     float64
Month_Sep     float64
Month_nan     float64
Length: 65, dtype: object

In [11]:
y

0         91.16
1        118.67
2        199.67
3        104.16
4        113.38
          ...
10654    387.73
10655    421.80
10656    257.23
10657    159.52
10658    159.16
Name: price, Length: 10143, dtype: float64

In [12]:
X_train, X_test, Y_train, Y_test, = train_test_split(X, y)

In [13]:
X_train.iloc[1].shape

(65,)

In [14]:
X_train.dtypes

year          float64
distance      float64
Origin_ATL    float64
Origin_BOS    float64
Origin_CLT    float64
               ...
Month_May     float64
Month_Nov     float64
Month_Oct     float64
Month_Sep     float64
Month_nan     float64
Length: 65, dtype: object

In [15]:
print('X_train.shape = ', X_train.shape)
print('Y_train.shape = ', Y_train.shape)
print('X_test.shape = ', X_test.shape)
print('Y_test.shape = ', Y_test.shape)

X_train.shape =  (7607, 65)
Y_train.shape =  (7607,)
X_test.shape =  (2536, 65)
Y_test.shape =  (2536,)

In [16]:
multivariate_linear = LinearRegression()

In [17]:
multivariate_linear.fit(X_train, Y_train)

LinearRegression()

In [18]:
y_train_pred = multivariate_linear.predict(X_train)
y_test_pred = multivariate_linear.predict(X_test)

In [19]:
r2_score(Y_train, y_train_pred)

0.15168005588322864

In [37]:
r2_score(Y_test, y_test_pred)

0.07943693824779141

In [20]:
rf = RandomForestRegressor()

In [21]:
rf.fit(X_train, Y_train)

RandomForestRegressor()

In [24]:
rf.score(X_test, Y_test)

0.07943693824779141

In [28]:
rf.score(X_train, Y_train)

0.7828635302839564

In [61]:
Y_train.head(10)

4701     85.18
7022    228.86
4727    215.57
1761    187.56
149     523.16
8950     79.20
81       92.66
6878    426.30
1634    206.20
4768    141.16
Name: price, dtype: float64

In [63]:
results = rf.predict(X_train).round(2)

In [64]:
results[:10]

array([ 71.95, 172.4 , 206.7 , 188.48, 312.08,  69.29,  97.16, 325.27,
       128.91, 152.09])

In [ ]:
#KNN
#SVR
#XGBoost
#CatBoost

In [65]:
models = []
models.append(('LR', LinearRegression()))
models.append(('RF', RandomForestRegressor()))
# models.append(('KNN', KNeighborsClassifier(n_neighbors=5, p=2, metric='minkowski', weights='distance')))
# models.append(('CART', DecisionTreeClassifier()))
# models.append(('NB', GaussianNB()))
# models.append(('SVM', SVC(gamma='scale')))
# models.append(('RF', RandomForestClassifier(criterion='gini', n_estimators=100, n_jobs=2)))

In [67]:
# results = []
# names = []
# for name, model in models:
# 	kfold = StratifiedKFold(n_splits=7, random_state=1, shuffle=True)
# 	cv_results = cross_val_score(model, X_train, Y_train, cv=kfold, scoring='mean_squared_error')
# 	results.append(cv_results)
# 	names.append(name)
# 	print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

In [ ]:
results = []
names = []
for name, model in models:
	loo = LeaveOneOut()
	cv_results = cross_val_score(model, X_train, Y_train, cv=loo, scoring='neg_mean_squared_error')
	results.append(cv_results)
	names.append(name)
	print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

In [79]:
sorted(sklearn.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']